body {
  background-color: #333;
  color: #eee;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #A5C9FF;
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
}

.search-bar input {
  padding: 10px;
  width: 400px;
  border-radius: 4px;
  border: none;
}

.search-bar button {
  padding: 8px 16px;
  border: none;
  background-color: #A5C9FF;
  color: #111;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.results-count {
  text-align: center;
  margin-bottom: 20px;
}

.palindromes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.palindromes-card {
  background: #222;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.palindromes-card h3 {
  color: #A5C9FF;
  margin-top: 0;
}

.results {
  text-align: center;
  margin: 10px 0 20px;
  font-size: 14px;
  color: #bbb;
  font-style: italic;
  opacity: 0.9;
}

.random {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #444;
  color: #A5C9FF;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.random:hover {
  background-color: #A5C9FF;
  color: #111;
}

.navbar {
  background-color: #A5C9FF;
  border-style: ridge;
}

.navbar button {
  background-color: #444;
  border-style: ridge;
  border-color: white;
  color:white;
}

.isPalindrome {
  flex: 1;
  border: 2px solid #A5C9FF;;
  padding: 10px;
  margin: 5px;
}

.notPalindrome {
  flex: 1;
  border: 2px solid #A5C9FF;;
  padding: 10px;
  margin: 5px;
}
